body {
	background-color: #89cff0;
}

p{
	color: purple;
	font: italic 40px/45px "Comic Sans MS";
	text-shadow: 1px 1px #0000ff;
}

p.prime1{
	color: green;
	font-size: 25px;
	text-shadow: 1px 1px #ff69b4;
}

table{	
	color: red;
	font-size: 25px;
	font-style: normal;
	text-shadow: 1px 1px #ffff00;
}